<div class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 ">

      <!-- Here start the widget. This part of code can work alone with the javascript code -->
      <div id="widget" class="panel panel-primary">
        <div class="panel-heading">
          <!-- the action="javascript:void(0);" prevent the form from reload the page everytime it's submitted -->
          <form id="search" class="form-inline" role="form" action="javascript:void(0);">
            <div class="form-group">
              <label class="sr-only" for="city">Search a city</label>
              <div class="input-group">
                <input type="text" id="city" class="form-control input-sm" [(ngModel)]="ville" name="ville" placeholder="Ville" autocomplete>
                <span class="input-group-btn">
                              <button (click)="getMeteo(ville)" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-search"></i></button>
                           </span>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-7">
              <h5>Today</h5>
              <div id="icon"></div>
              <p id="weather"> {{meteo?.meteo?.textMeteo}}</p>
            </div>
            <div class="col-xs-5">
              <div>
                <p>min:</p>
                <p><span id="temp"></span>{{meteo?.meteo.minTemperature}}<span id="unit">°C</span></p>
              </div>
              <div>
                <p>max:</p>
                <p><span id="tempp"></span>{{ meteo?.meteo.maxTemperature }}<span id="unit">°C</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
      <!-- End of the widget -->

    </div>
  </div>
</div>
